/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */



@media screen and (min-width: 1050px) {

    .have-sub-menu a span i {
        margin-top: 6px !important;
        margin-left: 8px !important;
        transform: rotate(0) !important;
    }

    .sub-menu-item {
        height: auto !important;
        margin-top: 0 !important;
    }

    .have-sub-menu:hover .sub-menu-item {
        transition: .2s ease;
        display: block;
    }

    .wi-li {
        margin-top: 0 !important;
    }

}


@media screen and (min-width: 1000px) {

    .container {
        max-width: 2000px;
        width: auto !important;
        padding: 0 90px;
    }

    .col-md-12 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-9 {
        width: 75%;
    }

}


@media screen and (max-width: 1050px) {

    body {
        padding-top: 55px;
    }

    .header {
        padding-bottom: 11px;
        padding-right: 28px;
    }

    .header a {
        /*float: none;*/
        display: block;
        text-align: left;
    }

    .header-right {
        background: #f4f7ff;
        position: fixed;
        right: 0;
        top: 0;
        width: 340px;
        float: unset;
        height: 100vh;
        min-height: 300px;
        overflow: auto;
        padding: 80px 62px 62px;
        transform: translateX(100%);
        transition: all .7s cubic-bezier(.25,1,.2,1);
        z-index: 1;
    }

    .header-right .no-social {
        height: auto;
        min-height: 83%;
        display: flex;
        flex-wrap: wrap;
    }

    .header-right .menu-item-innomobile {
        margin: auto 0;
    }

    .header-li-social {
        display: none;
    }

    .active-header-li-social{
        float: left;
        display: block !important;
    }

    .responsive-menu-show{
        transition: .5s ease;
        transform: translateX(0);
    }

    .header-right li{
        width: 100%;
    }

    .responsive-social-link-two {
        display: block;
    }

    .header-li-social {
        width: auto !important;
        margin-top: 45px !important;
    }

    .header-li-social a {
        margin-left: 11px !important;
    }

    .header-li-social a i {
        opacity: .7;
        font-size: 18px;
    }

    .header-right a{
        /*float: none;*/
        color: #00549a!important;
    }

    .header-right-responsive {
        display: block;
        position: absolute;
        right: 20px;
        z-index: 1;
    }

    .dropbtn{
        margin-top: 3px;
        display: block;
    }

    .header-menu-in:hover .header-right{
        transform: translateX(0);
    }

    .header-social-responsive{
        display: block;
    }

    .header-social-responsive ul li a{
        margin: 0;
    }

    .menu-item-innomobile li a {
        margin: 0;
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
    }

    .menu-item-innomobile li {
        padding-bottom: 0;
        margin-top: 5px;
        margin-bottom: 26px;
    }

    .menu-item-innomobile .promotion {
        padding: 0;
        background: none;
    }

    .sub-menu-item {
        margin-top: 36px;
        background: #f4f7ff;
        box-shadow: unset;
        margin-left: 2px !important;
    }

    .sub-menu-item li {
        padding: 0 0 0 7px;
        margin: 10px 0 20px;
    }

    .sub-menu-item li a {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -1px;
    }

    .have-sub-menu {
        position: relative;
    }

    .have-sub-menu a{
        margin-right: 80px;
    }

    .have-sub-menu a span i {
        display: none;
    }

    .have-sub-menu span i {
        transition: .5s ease;
    }

    .menu-item-innomobile li a:hover{
        color: #f2800d !important;
        transition: .2s ease;
    }

    .responsive-sub-menu-down {
        display: block;
        position: absolute;
        top: -14px;
        left: 138px;
        color: #b5c6e4;
    }

    .responsive-sub-menu-down i{
        font-size: 50px;
    }

    .sub-menu-item {
        transition: .5s ease !important;
        width: 100%;
        height: 0;
        margin: 0;
        overflow: hidden;
        display: block;
    }

    .wi-li {
        transition: .5s ease;
    }

    .responsive-sub-menu-down:hover {
        cursor: pointer;
    }

    .transat-transition-left{
        left: 0;
        transition: 0s;
    }

    .transat-transition-right{
        right: 0;
        transition: 0s;
    }

}


@media (max-width: 1000px){

    body {
        padding-top: 58px;
    }

    .header-social-responsive {
        display: none;
    }

    .header{
        padding: 14px 18px 12px 18px;
    }

    .col-md-12 {
        width: 100%;
        padding-left: 0;
        padding-right: 0 !important;
    }

    .col-md-9 {
        padding-left: 0;
        padding-right: 0 ;
    }

    .logo img {
        height: 20px;
    }

    .col-md-6 {
        width: 100% !important;
    }

    section .images{
        padding: 3%;
    }

    .section-image-one {
        padding-bottom: 30px;
    }

    .section-image-one div {
        overflow: hidden;
    }

    .transat-transition-right div div {
        width: 100%;
    }

    .opacity-button-one {
        display: none;
    }

    .opacity-button-two {
        display: block;
    }

}

@media screen and (max-width: 999px) {

    section .images-two {
        padding: 3%;
    }

    /*.section-image-one {*/
    /*    padding: 0;*/
    /*    padding-top: 2%;*/
    /*    margin-bottom: 100px;*/
    /*}*/

    .section-image-one {
        padding-bottom: 50px;
    }

    .section-image-one div img{
        width: 100%;
    }

    .section-image-two div div img {
        padding-right: 3%;
        padding-left: 3%;
    }

    .transat-transition-left {
        width: 100% !important;
    }

    .transat-transition-right {
        width: 100% !important;
    }

    /*.title-inn {*/
    /*    font-size: 44px;*/
    /*    line-height: 48px;*/
    /*}*/

}

@media only screen and (max-width: 1000px) and (min-width: 690px){

    .container {
        max-width: 600px;
        padding: 0;
    }

    .col-md-9 {
        width: 100%;
    }

}

@media screen and (max-width: 690px) {

    .container {
        max-width: 320px;
    }

    /*.section-image-one {*/
    /*    padding: 0;*/
    /*    padding-top: 2%;*/
    /*    margin-bottom: 30px;*/
    /*}*/

    section .images-two {
        padding: 1%;
    }

    .section-image-one {
        padding-bottom: 8px;
    }

    .section-image-two div div img {
        padding-right: 0;
        padding-left: 0;
    }

    /*.title-inn {*/
    /*    font-size: 33px;*/
    /*    line-height: 36px;*/
    /*}*/

}

@media only screen and (max-width: 690px) and (min-width: 480px){

    .container {
        max-width: 420px;
    }

}

@media only screen and (max-width: 321px){

    .container {
        max-width: 300px;
    }

}