body{
    font-size: 14px;
    padding-bottom: 202px;
    padding-top: 55px;
    min-height: 500px;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

section{
    min-height: 94.324vh;
    position: relative;
    z-index: 2;
    background: #fff;
}

section .images{
    /*min-height: 94.0733vh;*/
    /* -webkit-flex-wrap: wrap; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: flex;
    padding: 2%;
}

section .section-img {
    max-width: 100%;
    height: auto;
}

.images .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

footer{
    position: fixed;
    bottom: 0; width: 100%;
    z-index: 1;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.footer-icon{
    transition: all .45s cubic-bezier(.25,1,.33,1);
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 48px!important;
}

.dropbtn{
    display: none;
    z-index: 2;
    position: relative;
}

.footer-icon::before{
    color: #fff;
    transition: .28s ease;
}

.footer-icon::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: .2;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    transition: .28s ease;
    /*width: 50px;*/
    /*height: 50px;*/
    /*line-height: 48px!important;*/
    /*font-size: 20px;*/
}

.social li {
    display: inline-block;
    border: 1px solid green;
}

.link:hover .footer-icon::after{
    border: 2px solid #f2800d;
    transition: .28s ease;
    opacity: 1;
}

.responsive-social-link-two {
    display: none;
}

.link:hover .footer-icon::before{
    color: #f2800d;
    transition: .28s ease;
}

header#top .nav > ul > li {
    float: left;
}

header#top .nav > ul > li > a {
    font-family: "Open Sans";
    letter-spacing: -1px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

header#top .nav > ul > li > a:hover {
    text-decoration: none;
}

.header-menu-in{
    padding-top: 3px;
    padding-bottom: 4px;
    float: right;
}

.sub-menu {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 1;
}

.sub-menu-hover:hover > .sub-menu {
    display: block;
}

.sub-menu-hover:hover + .sub-menu {
    display: block;
}

.sub-menu-hover:hover .sub-menu {
    display: block;
}

.sub-menu-hover:hover ~ .sub-menu {
    display: block;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color:  #00549a;
    padding: 12px 27px 0px 28px;
}

/* Style the header links */
.header a {
    letter-spacing: -1px;
    color: #fff;
    text-align: center;
    margin: 5px 10px 14px 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    font-family: "Open Sans";
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    float: left;
}

.promotion{
    background: #e56505;
    margin: 0 !important;
    margin-right: 10px !Important;
    padding: 7px 20px 9px 20px;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.dropbtn{
    padding: 0;
    border: none;
    background: transparent;
}

.dropbtn a{
    width: 22px;
    margin: 0;
}

.dropbtn a ul{
    padding: 0;
    margin: 0;
}

.social-header {
    padding: 0 !important;
    /*margin: 0 10px;*/
    width: 25px;
    margin-top: 6px !important;
}

.social-header .fa-facebook {
    width: 28px;
}

.responsive-social-link-two .fa-facebook {
    width: 25px;
}

.social-header .fa-instagram {
    width: 34px;
}

.header-social-responsive .social-header .fa-facebook {
    width: 29px;
}

.header-social-responsive .social-header {
    width: auto;
}

.header-right-responsive {
    display: none;
    float: right;
}

.menu-item-innomobile{
        margin-bottom: 0;
}

.menu-item-innomobile li{
    float:left;
    padding-bottom: 10px;
}

.header-li-social{
    overflow: hidden;
}

.sub-menu-item {
    position: absolute;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    width: 192px;
    padding: 0;
    background: #fff;
    z-index: 1;
    top: 50px;
    margin-left: 11px;
    display: none;
    transition: .2s ease;
}

.sub-menu-item li{
    width: 100%;
    padding: 14px 16px 14px;
}

.sub-menu-item li:hover {
    background: #f2f2f2;
}

.sub-menu-item li a {
    color: #00549a !important;
    margin: 0 !important;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
}

.sub-menu-item li a i {
    font-size: 16px;
    width: 38px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.btn{
    border-radius: 2px;
    border: none;
}

.btn-primary{
    background: #00549a !important;
    outline: none;
    font-size: 12px;
}

.container {
     max-width: 800px;
     width: auto !important;
     padding: 0;
}

.titles-before-form {
    font-family: "Open Sans";
}

.titles-before-form p{
    font-size: 40px;
    line-height: 45px;
}

.titles-before-form-order p{
    font-size: 18px;
    line-height: 20px;
}

.titles-before-form p strong span {
    color: #ff7200;
    font-weight: bold;
}

.titles-before-form p:last-child {
    font-size: 18px;
    color: #00549a;
    line-height: 20px;
}

.input-div {
    padding-bottom: 27px;
}

.inn-error {
    color: #00549a !important;
    padding: 2px 6px;
    font-size: 1em;
    font-weight: 400;
    display: block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family: "Open Sans";
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    vertical-align: baseline;
    outline: 0;
    margin: 0;
    border: 0;
}
.select-field{
    margin-bottom: 27px;
}

.input{
    background-color: #f1f1f1;
    padding: 10px !important;
    font-family: "Open Sans";
    border: none;
    outline: none;
    line-height: 24px;
}

.form-control{
    height: 44px;
}

.select-div{
    height: 44px;
    border-radius: 5px;
    outline: none;
    font-family: "Open Sans";
}

.select-div:hover {
    background-color: #0543a3;
    color: white;
}
.d-none{
    margin-bottom: 27px;
}

.select-div:hover option{
    background-color: white;
    color: black;
}

.form-div{
    padding-top: 27px;
}

.row{
    margin: 0 !important;
}

.transat-transition-left{
    left: -100%;
    transition: 1s ease;
}

.transat-transition-right{
    right: -100%;
    transition: 1s ease;
}

footer .link{
    display: inline-block;
    text-align: center;
}

.social-header{
    overflow: hidden;
}

.social-header i{
    position: relative;
    transition: .3s;
    margin-top: 5px;
}

.header-icon-facebook{
    position: relative;
    font-size: 16px;
}

.header-icon-instagram{
    position: relative;
    font-size: 16px;
}

.header-icon-instagram::after{
    font-size: 17px;
    content: '\f16d';
    color: #dd9933;
    display: block;
    position: absolute;
    top: 200%;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 100%;

}

.header-icon-facebook::after{
    font-size: 17px;
    content: '\f09a';
    color: #dd9933;
    display: block;
    position: absolute;
    top: 200%;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 100%;
}

.social-header:hover i{
    transform: translateY(-200%);
}

.d-none{
    display: none;
}

.header-social-responsive{
    display: none;
    float: right;
    margin: -3px 19px 0;
}

.header-social-responsive ul li{
    float: left;
}

.have-sub-menu a span i {
    height: 21px;
    position: absolute;
    font-size: 12px;
}

.clear-fix {
    clear: both;
}

.col-md-9 {
    padding-left: 5px;
    padding-right: 0 ;
}

.logo img {
    height: 25px;
}

.responsive-sub-menu-down {
    display: none;
}

.have-sub-menu a{
    margin-right: 36px;
}

.have-sub-menu a:hover span {
    color: green;
}

.have-sub-menu a span {
    transition: .3s ease;
}

.section-image-two {
    padding: 0px;
    overflow: hidden;
}

.opacity-button-two {
    display: block;
}

.opacity-button-two {
    display: none;
}

section #transat-form-id .row .col-md-6 {
    float: none;
    margin: auto;
    width: 48.93617020799999%;
    padding: 0;
}

section #carrytel-form-id .row .col-md-6 {
    float: none;
    margin: auto;
    width: 48.93617020799999%;
    padding: 0;
}

section #virgin-form-id .row .col-md-6 {
    float: none;
    margin: auto;
    width: 48.93617020799999%;
    padding: 0;
}

.quebec-style {
    color: #00549a;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.quebec-style p {
    margin-bottom: 30px;
}
.quebec-style p:first-child {
    margin-bottom: 0;
}


.quebec-checkbox {
    margin-left: 15px;
}

.quebec-checkbox input{
    margin: 3px 3px 3px 4px;
}

.div-send-button {
    margin-top: 45px !important;
}

.appartment-number-label {
    color: #00549a;
    font-weight: 500;
}